<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>모든글보기</title>
  </head>
  <body>

    <div id="loginbox">

    </div>

    <select id = "board" name="board" required>
      {% for board in boardList %}
      <option value= {{board}}> {{board}} </option>
      {% endfor %}
    </select>
    <button id="boardinfoB">로드하기</button>
    <hr>

    <span>유닛간판이미지:16:9비율로. 640*360으로변환됨.</span>
    <br>
    <span>보기 누르면 뜨는 새창에서, 새로고침 해야 바뀐걸로보입니다.</span>

    <br>
    <div id="charBarea">
      캐릭터:
    </div>
    <br>
    <div id="unitBarea">
      유닛:
    </div>
    <br>
    <div id="artBarea">
      작가:
    </div>
    <br>

    <hr>
    입력은 띄어쓰기로 구분해주세요. <br>
    <br>


    작가 목록: <input  id="artists" type="text" name="artists"><br>
      캐릭터 목록: <input  id="characters" type="text" name="characters"><br>
      유닛 목록: <input  id="units" type="text" name="units"><br>
    유닛 안의 캐릭터 목록:
    <div id="unitmember">
    </div>

    <button id="submitB" type="button" >제출</button>

  </body>

  <script type="text/javascript">

  document.getElementById("boardinfoB").addEventListener( "click", function(){xmltaginfos()} )

  function xmltaginfos(){
  var url = '/xmltaginfos'
  var xhr = new XMLHttpRequest()
  var formData = new FormData()
  xhr.open('POST', url )// true means async.
  xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

  xhr.addEventListener("load",  function(e){
    dict = JSON.parse( e.srcElement.responseText )
    let artBarea = document.getElementById("artBarea")
    let charBarea = document.getElementById("charBarea")
    let unitBarea = document.getElementById("unitBarea")
    artBarea.innerHTML = ""
    charBarea.innerHTML = ""
    unitBarea.innerHTML = ""

    let artistList = dict["artistList"]
    let characterList = dict["characterList"]
    let unitDict = dict["unitDict"]


    artistList.forEach(i=> fillbutton(i,artBarea,"artistList"))
    characterList.forEach(i=> fillbutton(i,charBarea,"characterList"))

    Object.keys(unitDict).forEach(i=> fillbuttondict(i,unitDict[i],unitBarea,"unitDict"))

   })
  //xhr.addEventListener("load", function(e){  (e.srcElement.status==200 ? alert(e.srcElement.responseText) : alert("다시 시도하세요!") )  } )
  //data = { 'uploadkey': uploadkey, 'msg':msg }
  let boardname = document.getElementById("board").value
  formData.append("boardname", boardname)
  xhr.send(formData)
  }

  function fillbutton(n,targetarea,listname) {
    let b=document.createElement("button")
    b.innerText = n
    b.listname = listname
    b.addEventListener("click",function(){xmldeltaginfo(b)})
    targetarea.appendChild(b)
  }

  function fillbuttondict(n,intext,targetarea,listname) {
    let boardname = document.getElementById("board").value
    let udiv=document.createElement("div")

    let b=document.createElement("button")
    b.innerText = n
    b.listname = listname
    b.addEventListener("click",function(){xmldeltaginfo(b)})
    udiv.appendChild(b)

    let s=document.createElement("span")
    s.innerText = intext+"--------"
    udiv.appendChild(s)

    //----------file upload and see
    let finput=document.createElement("input")
    finput.id = "file"+n
    finput.type = "file"
    finput.accept = "image/*"
    udiv.appendChild(finput)

    let fsub=document.createElement("button")
    fsub.innerText = "업로드"
    fsub.addEventListener("click", function(){xmlbannerup(n)} )
    udiv.appendChild(fsub)

    let fsee=document.createElement("a")
    fsee.innerText = '간판보기'
    fsee.href = "/static/banner/board/xxx.png".replace('xxx',n).replace('board',boardname)
    fsee.target = "_blank"
    udiv.appendChild(fsee)

    let hr=document.createElement("hr")
    udiv.appendChild(hr)

    targetarea.appendChild(udiv)
  }
  function xmlbannerup(unitname){
    let inputs = document.getElementById("file"+unitname)
    if(inputs.files.length==0){
      return 1//show nothing. easy to see.
    }
    //20mb over.
    if(inputs.files[0].size>20000000){
      alert('over 20mb!')
      return 1
    }


    let img = inputs.files[0]

    let msg = "업로드? "+unitname
    if(confirm(msg)==false){return false}

    var url = '/xmlbannerup'
    var xhr = new XMLHttpRequest()
    var formData = new FormData()
    xhr.open('POST', url, true)
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

    xhr.addEventListener("load", function(event){
      let response = event.srcElement.responseText
      if( response == "noname"){alert("안된다")}
      if( response == "done" ){alert("되었다")}
    } )

    let board = document.getElementById("board").value
    let token = getCookie("token")
    //unitname
    formData.append("img", img)
    formData.append("unitname", unitname)
    formData.append("board", board)
    formData.append("token", token)
    xhr.send(formData)
  }


  function xmldeltaginfo(B){
    let msg = "삭제? "+B.innerText
    if(confirm(msg)==false){return false}
    var url = '/xmldeltaginfo'
    var xhr = new XMLHttpRequest()
    var formData = new FormData()
    xhr.open('POST', url, true)
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

    xhr.addEventListener("load", function(event){
      let response = event.srcElement.responseText
      if( response == "noname"){alert("안된다")}
      if( response == "done" ){
        document.getElementById("boardinfoB").click()
        //alert(response)
      }
    } )

    let board = document.getElementById("board").value
    let token = getCookie("token")
    let tagname = B.innerText
    let listname = B.listname

    formData.append("listname", listname)
    formData.append("tagname", tagname)
    formData.append("board", board)
    formData.append("token", token)
    xhr.send(formData)
  }

  </script>


  <script type="text/javascript">
    document.getElementById("submitB").addEventListener("click", function(){ xmladdtaginfo() })

    function xmladdtaginfo(){
      let artists = document.getElementById("artists").value
      let characters = document.getElementById("characters").value
      let units = document.getElementById("units").value
      let unitjson = getmemberjson()

      var url = '/xmladdtaginfo'
      var xhr = new XMLHttpRequest()
      var formData = new FormData()
      xhr.open('POST', url )// true means async.
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

      xhr.addEventListener("load",  function(e){
        alert(e.srcElement.responseText);
        //resetinput();
        location.reload()
        document.getElementById("boardinfoB").click();
      } )
      //xhr.addEventListener("load", function(e){  (e.srcElement.status==200 ? alert(e.srcElement.responseText) : alert("다시 시도하세요!") )  } )

      let boardname = document.getElementById("board").value
      let token = getCookie("token")
      formData.append("boardname", boardname)
      formData.append("token", token)

      formData.append("artists", artists)
      formData.append("characters", characters)
      //formData.append("units", units)
      formData.append("unitjson", unitjson)
      xhr.send(formData)
    }

    function resetinput(){
      document.getElementById("artists").value = ""
      document.getElementById("characters").value = ""
      document.getElementById("units").value = ""
    }

  </script>






  <script type="text/javascript" src="/static/js/shasha.js"> </script>
  <script type="text/javascript" src="/static/js/userfunc.js"> </script>

    <script type="text/javascript">
      frame = document.getElementById("loginbox")
      makeloginbox(frame)
    </script>



  <script type="text/javascript">
  let units = document.getElementById("units")
  units.addEventListener("input", function(e){inputchecker()} )

  function inputchecker(){
    let unitmember = document.getElementById("unitmember")
    unitmember.innerHTML = ""

    let units = document.getElementById("units")
    units.value.split(" ").forEach( u=> unitfiller(u,unitmember) )
  }

  function unitfiller(u,target){
    if(u==""){return false}

    let div =document.createElement("div")
    div.id = u

    let span =document.createElement("span")
    span.innerText = u+":"
    div.appendChild(span)

    let input =document.createElement("input")
    input.type = "text"
    input.name = u
    input.className = "memberdetail"
    //input.addEventListener( "input", function(e){memberchecker()} )
    div.appendChild(input)

    target.appendChild(div)
    target.appendChild(document.createElement("br"))
  }



  function getmemberjson(){
    tmpdict={}
    let memberi = document.getElementsByClassName("memberdetail")
    for( var i of memberi){
      tmpdict[i.name] = i.value
    }

    return JSON.stringify(tmpdict)
  }

  </script>

</html>
